.card {
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
margin: auto;   
transition: 0.3s;
width: 190px;
border-radius:8px;
}

.card:hover {box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px; 
        transform: scale(1.05); /* size scaled to 1.2x */ 
}

.container {
padding: 2px 16px;
}


.card2 {
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
margin: auto;   
transition: 0.3s; 
border-radius:8px;
}

.card2:hover {box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px; 
    
        transform: scale(1.025); /* size scaled to 1.2x */ 
}
 


.card3 {
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
margin: auto;   
transition: 0.3s; 
border-radius:8px;
} 



body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 19px;
    color: #292929;
}

.cover {
    padding-left: 10%;
    padding-right: 10%;
}

.main {

    padding-top: 10%;
}


.header {
    padding-top: 5%;
}

a { 
    text-decoration: none; /* no underline */
  }

.topnav {

    overflow: hidden; 
  }
  
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover { 
    color: gray;
  }
  
  .topnav a.active { 
    color: black;
    font-weight: bold;
  }
  
  .topnav .icon {
    display: none;
  }
   

  @media screen and (max-width: 600px) {

    .hidenotphone{
      display:none ; 
    }

    .showphone{
      display: block ;  
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
 
      float: right;
      display: block;
    } 

    .marginIfnotPhone {
        padding-right:20% !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  @media screen and (max-width: 650px) and (min-width: 200px) {
    .showphone {
      display:block !important;
    } 
  } 
  @media screen and (min-width: 650px)  {
    .showphone {
      display:none !important;
    } 
  } 


  /* Create three equal columns that floats next to each other */
.column {
    float: left; 
    width: 31.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .short { 
        -moz-transform: scale(0.31, 0.31); 
        -webkit-transform: scale(0.31, 0.31); 
        -o-transform: scale(0.31, 0.31);
        -ms-transform: scale(0.31, 0.31);
        transform: scale(0.31, 0.31); 
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
      } 